
body {
font-family: 'Merriweather Sans', sans-serif;
color:red;
}

h6,
h5,
h4,
h3,
h2,
h1 {
	font-family: 'Teko', sans-serif;
	
}

.navbar-brand img {
	width:170px
}
#footer {background-color:#04d4fb;}
#lowerfooter {background-color:#111111;}
#lowestfooter i {font-size:75px;color:#fc0404;margin:25px 15px;}