
body {
font-family: 'Merriweather Sans', sans-serif;
color:#111111;
}

h6,
h5,
h4,
h3,
h2,
h1 {
	font-family: 'Teko', sans-serif;
	
}

.navbar-brand img {
	width:170px
}
#footer {background-color:#;}
#upperfooter {background-color:#111111;}
#lowestfooter i {font-size:75px;color:#fc0404;margin:25px 15px;}
#lowestfooter {background-color:#111111;}
#navbar a {background-color:;color:}
#product {background-color:#e7ffff;}